<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Tutorial</title>

    <!-- Import css styles page onto this webpage via External - Method 1-->
    <link rel="stylesheet" href="../static/styles.css"/>

</head>

<body>
    <!-- Typical non-class div elements -->
    <div>Hello World!</div>
    <div>Hello again!</div>
    <p>Hi . . . </p>

    <!-- Div element with special class -->
    <div class="alert-text">Okay, bye . . .</div>

    <!-- ID selector (#) for single element 
         typically not used (avoid where possible)-->
    <div id="title">My Awesome Picnic</div>

    <!-- Sharing selector css properties -->
    <div class="intel">I have an intel processor</div>
    <div class="amd">I have an amd processor</div>
    
    <!-- Chaining selectors (when two classes share a name i.e. subsection)-->
    <div>
        <div class="subsection heading">Latest Posts</div>
        <div class="subsection preview">Preview my posts on insta</div>
        <div class="subsection" id="preview">Another preview for my insta</div>
    </div>

    <!-- Descendant Combinators -->
    <div class="descendant1">Hello
        <div class="descendant2">there
            <div class="descendant3">mate
            </div>
        </div>
    </div>

    <!-- Internal css stylisation directly from html - Method 2 -->
    <style>
        div{
            color: white;
            background-color: black;
        }
        p{
            color: red;
        }
    </style>

    <!-- Inline css stylisation directly from html - Method 3 -->
    <div style="color: white; background-color: darkgoldenrod;">Wow so cool!</div>

    <!-- Block vs Inline 
         Block elements stack on top of one another, each new element starting on a new line
         Meanwhile, in-line elements continue on and appear in line with whatever element they 
         are placed besides, such as the <a> link tag. Padding and margins also behave uniquely
         to these elements, and in general it is NOT recommended to add margins and paddings on
         in-line elements! -->

    <!-- Div vs Span
         Div by nature is a block-level element used as a container to group other elements
         Span on the other hand is an in-line element to group text content and inline HTML
         elements for styling. -->

    <!-- Introduction to Flexbox -->
    <nav class="container">
        <div>Home</div>
        <div>Search</div>
        <div>Logout</div>
    </nav>
    <nav class="container1">
        <div class="onediv">x1</div>
        <div class="twodiv">x2</div>
        <div class="onediv">x1</div>
    </nav>

    <!-- Axes of a flex container -->
    <nav class="flexdirection">
        <div class="flex"></div>
        <div class="flex"></div>
        <div class="flex"></div>
    </nav>

</body>

</html>