<!-- HTML index page for Pixilate -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixilate</title>
    <script src="../static/pixilate.js"></script>
    <link rel="stylesheet" href="../static/pixilate.css" />
  </head>
  <!-- Body of Website -->
  <body>
    <!-- Title Block -->
    <div id="title">Pixilate</div>
    <div id="titleline"></div>
    <!-- Grid Container -->
    <nav class="container">
      <!-- Instruction panel -->
      <div class="informationpanel">
        <h1>Pixilate, an Odin Project Assignment</h1>
        <h4>
          This program is currently supported with the following features:
        </h4>
        <h4>• Custom Canvas Size (20x20) => (50x50)</h4>
        <h4>• Custom Pen Colour</h4>
        <h4>• Rainbow Pen Mode</h4>
        <h4>• Eraser</h4>
        <h4>• Hover Mode</h4>
        <img id="bocchi" src="../static/bocchi.png" alt="bocchi" />
      </div>
      <!-- Slider -->
      <div class="sliders">
        <div>Adjust Canvas Gridsize : Currently set at ()</div>
        <br />
        <input type="range" min="20" max="50" value="20" id="grid-size" />
      </div>
      <!-- Grid Container -->
      <div id="grid-container"></div>
    </nav>
  </body>
</html>
