<!-- HTML index page for Pixilate -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixilate</title>
    <script src="../static/pixilate.js"></script>
    <link rel="stylesheet" href="../static/pixilate.css" />
  </head>
  <!-- Body of Website -->
  <body>
    <!-- Title Block -->
    <div id="title">Pixilate</div>
    <div id="titleline"></div>
    <!-- Grid Container -->
    <nav class="container">
      <!-- Instruction panel -->
      <div class="informationpanel">
        <h1>Pixilate, an Odin Project Assignment</h1>
      </div>
      <!-- Slider -->
      <div class="sliders">
        <!-- Sliders for adjusting canvas grid-size -->
        <div id="canvas-size-info">Adjust Canvas Gridsize</div>
        <input type="range" min="20" max="50" value="20" id="grid-size" />
        <!-- Sliders for adjusting pen colour to be used on the canvas -->
        <div>Adjust Pen Color</div>
        <input type="color" id="pen-color" value="#000000" />
        <!-- Pen Colour alternates randomly in colour spectrums of the rainbow -->
        <div>Rainbow Mode</div>
        <input type="button" />
        <!-- Eraser functionality (return cells to original colour) -->
        <div>Eraser</div>
        <input type="button" />
        <!-- Hover functionality, change cell colour temporarily on hover -->
        <div>Hover Mode</div>
        <input type="button" value="" />
      </div>
      <!-- Grid Container -->
      <div id="grid-container"></div>
    </nav>
  </body>
</html>
