<!-- HTML Page for Rock Paper Scissors Lizard Spock -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissors Lizard Spock</title>
    <script src="../static/rpsls.js"></script>
    <link rel="stylesheet" href="../static/rpsls.css" />
  </head>
  <body>
    <div id="topContainer">
      <span class="word">Rock</span>
      <span class="word">Paper</span>
      <span class="word">Scissors</span>
      <span class="word">Lizard</span>
      <span class="word">Spock</span>
    </div>
    <img src="../static/rpsls.png" alt="Diagram" id="instructions" />
    <div class="userInt">
      <h2>Choose your weapon!</h2>
      <button id="rock">Rock</button>
      <button id="paper">Paper</button>
      <button id="scissors">Scissors</button>
      <button id="lizard">Lizard</button>
      <button id="spock">Spock</button>
    </div>
    <div id="announcement">Score</div>
    <div class="score">
      <h1 id="player1">0</h1>
      <h1>:</h1>
      <h1 id="computer">0</h1>
    </div>
    <div id="conclusion"></div>
  </body>
</html>
