/* CSS Page for Pixilate */

/* Modifies the Title Block */
#title {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: bold;
}

/* Vertical line dividing Title Block */
#titleline {
  height: 5px;
  background-color: black;
  width: 100%;
  margin-bottom: 30px;
}

/* Creates three (uneven) containers */
.container {
  display: flex;
  height: calc(100vh - 160px);
  text-align: center;
}
/* ----------------------------- */
/* Information panel on the left */
.container .informationpanel {
  width: 25vw;
  background-color: black;
  padding-left: 25px;
}

/* ----------------------------- */
/* Modifies the sliders and options */
.sliders > div {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 25vw;
}

/* ----------------------------- */
/* Grid cells */
.grid-cell {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  width: calc((100% - 2px * var(--size)) / var(--size));
  height: calc((100% - 2px * var(--size)) / var(--size));
}
#grid-container {
  /* Grid-container overall properties */
  height: 900px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border: 5px solid black;
  right: 5vw;
}
