/* CSS Page for Pixilate */

/* Modifies the Title Block */
#title {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: bold;
}

/* Vertical line dividing Title Block */
#titleline {
  height: 5px;
  background-color: black;
  width: 100%;
  margin-bottom: 30px;
}

/* Creates three (uneven) containers */
.container {
  display: flex;
  height: 86vh;
}

/* Information panel on the left */
.container .informationpanel {
  width: 25vw;
  background-color: black;
  padding-left: 25px;
}
.container .informationpanel h1 {
  font-weight: bold;
  color: white;
  text-align: center;
}
.container .informationpanel h4 {
  font-weight: light;
  color: white;
}
#bocchi {
  position: absolute;
  bottom: 10px;
  width: 15vw;
  left: 15px;
}

/* Customisation and Options Menu */
.sliders {
  width: 20vw;
  text-align: center;
}

#grid-container {
  /* Slider for grid-size */
  height: 70vh;
  width: 70vh;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border: 10px solid black;
  right: 5vw;
}

/* Grid cells */
.grid-cell {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  width: calc((70vh - 2px * var(--size)) / var(--size));
  height: calc((70vh - 2px * var(--size)) / var(--size));
}
